@import url(https://fonts.googleapis.com/css?family=Tenor+Sans);

@mixin placeholder($color: $placeholder-text) {
  &:-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
}



html{
  background-color: rgb(51, 52, 53);
}
.container{
  width: 500px;
  height: 400px;
  margin: 0 auto;
}
.login{
  margin-top: 50px;
  width: 450px;
}
.login-heading{
  font: 1.8em/48px;
  color: white;
}

.input-txt{
  width: 100%;
  padding: 20px 10px;
  background: rgb(52, 53, 54);
  border: none;
  font-size: 1em;
  color: white;
  border-bottom: 1px dotted rgba(250, 250, 250, .4);
}
.login-footer{
  margin: 10px 0;
  overlow: hidden;
  float: left;
  width: 100%;
}
.btn{
  padding: 15px 30px;
  border: none;
  background: rgb(58, 28, 83);
  color: blue;
}
.btn--right{
  float: right;
}
.icon{
  display: inline-block;
}
.icon--min{
  font-size: .9em;
}
.lnk{
  font-size: .8em;
  line-height: 3em;
  color: white;
  text-decoration: none;
}


.goToIndexBtn {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.goToIndexBtn:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.goToIndexBtn:active {
	position:relative;
	top:1px;
}

        