@import url(https://fonts.googleapis.com/css?family=Tenor+Sans);

@mixin placeholder($color: $placeholder-text) {
  &:-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
}



html{
  background-color: rgb(51, 52, 53);
}
.container{
  width: 500px;
  height: 400px;
  margin: 0 auto;
}
.login{
  margin-top: 50px;
  width: 450px;
}
.login-heading{
  font: 1.8em/48px;
  color: white;
}

.input-txt{
  width: 100%;
  padding: 20px 10px;
  background: rgb(52, 53, 54);
  border: none;
  font-size: 1em;
  color: white;
  border-bottom: 1px dotted rgba(250, 250, 250, .4);
}
.login-footer{
  margin: 10px 0;
  overlow: hidden;
  float: left;
  width: 100%;
}
.btn{
  padding: 15px 30px;
  border: none;
  background: rgb(58, 28, 83);
  color: blue;
}
.btn--right{
  float: right;
}
.icon{
  display: inline-block;
}
.icon--min{
  font-size: .9em;
}
.lnk{
  font-size: .8em;
  line-height: 3em;
  color: white;
  text-decoration: none;
}
