@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
body{
    width:100%;
    margin:auto;
    padding:0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    position: relative;
    background-image: "assets/images/BCLOGOBG.jpg";
    opacity: 90%;
}

.headerContainer {
    width: 990px;
    margin: 0 auto;
}

.headerOfHeaderContainer {
    background: #6396bc;
    width: 100%;
    top: 0;
    position: fixed;
}

.logo {
    float: left;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav {
    float: right;
    margin-left: 20px;
    padding-top: 5px;
}

li{
    list-style: none;
    float: left;
    margin-left:110px;
    padding-top: 30px;
}


.imageSliderContainer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
ul {
    margin: 0 0 40px;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
ul li {
    list-style: none;
    margin: 0 0 40px;
}
ul li .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform: rotateY(90deg);
    transform-origin: left;

}

ul li input[type="radio"] {
    position: relative;
    z-index: 1;
    height: 20px;
    width: 20px;
}
ul li input[type="radio"]:checked ~ .slide {
    transition: transform 0.5s;
    transform: rotateY(0deg);
    transform-origin: right;
}
ul li .slide .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .7);
    padding: 40px;
}

ul li .slide .content h2 {
    margin: 0;
    padding: 0;
    font-size: 42px;
}

ul li .slide .content p {
    font-size: 18px;
}
ul li .slide img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

ul li input[type="radio"]:checked ~ .slide img {
    animation: animate 55s linear infinite;
}

@keyframes animate 
{
    0%
    {
        transform: scale(1);
    }
    50%
    {
        transform: scale(1.5);
    }
    1000%
    {
        transform: scale(1);
    }
}

#goTopButton {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 30px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #b1c2ff; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #goTopButton:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

.gallery {
    margin: 10px 50px;
    margin-top: 100px;
    border-radius: 20px
}

.gallery img {
    transition: 1s;
    padding: 15px;
    width: 200px;
}

.gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}
