input[type=submit] {
  background-color: rgb(39, 121, 236);
  border-radius: 10px;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 500px;
}

/* ==============================================================================================
============================== CUSTOM COMBO BOX =================================================
=============================================================================================== */
#mainselection select {
    border: 0;
    color: #EEE;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    width: 378px;
    *width: 350px;
    *background: #58B14C;
    -webkit-appearance: none;
 }
 
 #mainselection {
    overflow:hidden;
    width:350px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 1px 1px 11px #330033;
    background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
 }