@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
body{
    width:100%;
    margin:auto;
    padding:0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(217, 242, 255);
}

.headerContainer {
    width: 990px;
    margin: 0 auto;
}

.headerOfHeaderContainer {
    background: #6396bc;
    width: 100%;
    top: 0;
    position: fixed;
}

.logo {
    float: left;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.nav {
    float: right;
    margin-left: 50px;
    padding-top: 5px;
}

li{
    list-style: none;
    float: left;
    margin-left:200px;
    padding-top: 30px;
}


.imageSliderContainer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
ul {
    margin: 0 0 40px;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
ul li {
    list-style: none;
    margin: 0 0 40px;
}
ul li .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform: rotateY(90deg);
    transform-origin: left;

}

ul li input[type="radio"] {
    position: relative;
    z-index: 1;
    height: 20px;
    width: 20px;
}
ul li input[type="radio"]:checked ~ .slide {
    transition: transform 0.5s;
    transform: rotateY(0deg);
    transform-origin: right;
}
ul li .slide .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .7);
    padding: 40px;
}

ul li .slide .content h2 {
    margin: 0;
    padding: 0;
    font-size: 42px;
}

ul li .slide .content p {
    font-size: 18px;
}
ul li .slide img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

ul li input[type="radio"]:checked ~ .slide img {
    animation: animate 80s linear infinite;
}

@keyframes animate 
{
    0%
    {
        transform: scale(1);
    }
    50%
    {
        transform: scale(1.5);
    }
    1000%
    {
        transform: scale(1);
    }
}

#goTopButton {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 30px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #b1c2ff; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #goTopButton:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

.gallery {
    margin: 50px 50px;
    margin-top: 100px;
    border-radius: 20px
}

.gallery img {
    transition: 1s;
    padding: 45px;
    width: 200px;
}

.gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}

/* =========================================================================
   ========================IMAGE SLIDER IN HOMEPAGE=========================
   ======================================================================== */

   * {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:100}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1550px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 20px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);

}

/* Caption text */
.text {
  color: #afafaf;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.4s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}